.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(55, 224, 80, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.2s linear;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  padding-top: 80px;
  pointer-events: none;
  overflow-y: auto;

  &-wrapper {
    position: relative;
    width: 414px;
    background-color: #414650;
    border-radius: 30px;
    padding-top: 31px;
    padding-bottom: 33px;
    margin-bottom: 1350px;
  }

  &-form {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &-checkbox {
      position: relative;

      &-input {
        position: absolute;
        width: 1px!important;
        height: 1px!important;
        z-index: -10000;
        
        &:checked + .popup-form-checkbox-label:after {
          content: '';
        }

        &.error + .popup-form-checkbox-label:before {
          border: 1px solid red;
          filter: drop-shadow(0px 0px 4px red);
        }
      }

      &-label {
        position: relative;
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: #FFF;
        opacity: 0.7;
        cursor: pointer;
        user-select: none;
        padding-left: 23px;
        display: block;

        &:before,
        &:after {
          position: absolute;
          border-radius: 50%;
          border: 1px solid #37E050;
          filter: drop-shadow(0px 0px 4px #37E050);
        }

        &:before {
          content: '';
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
        }

        &:after {
          width: 10px;
          height: 10px;
          top: 3px;
          left: 3px;
        }
      }
    }

    & input.error {
      border: 1px solid red;
      filter: drop-shadow(0px 0px 4px red);
    }

    & span.error {
      display: none!important;
    }

    &-field {
      width: 100%;
      margin-bottom: 20px;
      position: relative;

      & .select {
        max-width: 410px;
        min-width: 140px;
        width: 100%;

        & .error + .select2 .select2-selection--single {
          border-color: red;
        }
        
        & .select2-selection--single {
          background-color: #414650;
          border-radius: 40px;
          border: 1px solid #37e050;
          text-align: center;
          font-size: 20px;
          padding-top: 16px;
          margin-bottom: 6px;
          display: block;
          height: 62px;
        }

        & .select2-container {
          width: 100% !important;
        }
        
        & .select2-dropdown {
          background-color: #414650;
        }

        & input.select2-search__field {
          height: auto;
          border-radius: 3px;
        }

        & .select2-results__option--selected {
          background-color: lighten(#414650, 15%);
        }

        & .select2-results > .select2-results__options {

          &::-webkit-scrollbar {
            width: 10px;
            padding: 2px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 20px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 20px;
            border: 2px solid transparent;
          }
        }

        & .select2-results {
          position: relative;

          &:before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            right: 4px;
            width: 2px;
            background-color: #fff;
          }
        }

        & .select2-container--open .select2-dropdown {
          border-left: none;
          border-right: none;
          padding-bottom: 15px;
        }

        & .select2-selection--single .select2-selection__arrow {
          background: linear-gradient(203.83deg, #00E245 6.9%, rgba(0, 226, 69, 0.05) 85.64%);
          width: 49px;
          height: 49px;
          border-radius: 50%;
          right: 7px;
          top: 6px;

          &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 17px;
            @include transition-ease;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-image: url('../../img/select-arrow.png');
            background-position: center;
            background-repeat: no-repeat;
          }

          & b {
            display: none;
          }
        }

        & .select2-container--open .select2-selection--single .select2-selection__arrow:before {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }

      &.half {
        width: 49%;
      }

      &.checkbox {
        margin-bottom: 12px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      & input {
        width: 100% !important;
        height: 62px;
        border-radius: 40px;
        border: 1px solid #37e050;
        //filter: drop-shadow(0px 0px 4px #37e050);
        margin-bottom: 6px;
        background-color: transparent;
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        font-style: italic;
      }

      &.red input {
        color: #ff7c7c;
      }

      & p {
        font-size: 12px;
        line-height: calc(18 / 12);
        font-weight: 300;
        font-style: italic;
        text-align: center;
        opacity: 0.7;
        color: #fff;
      }
    }

    &-agree {
      margin-top: 20px;
      margin-bottom: 36px;

      &-item {
        display: flex;
        margin-bottom: 13px;
        cursor: pointer;

        &.active .agree-item-checkbox:before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #37e050;
          filter: drop-shadow(0px 0px 4px #37e050);
        }
      }

      &-text {
        width: calc(100% - 23px);
        font-size: 12px;
        line-height: calc(18 / 12);
        font-weight: 300;
        font-style: italic;
        opacity: 0.7;
        color: #fff;
      }
    }

    &-done {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        display: flex;
      }

      &-text {
        text-align: center;
        font-size: 16px;
        line-height: calc(19 / 16);
        font-weight: 500;
        color: #fff;
        margin-bottom: 34px;
        max-width: calc(100% - 140px);
      }
    }
  }

  &-btn {
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, #00e245 0%, rgba(0, 226, 69, 0.3) 100%);
    opacity: 0.7;
    font-weight: 800;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: #ffffff;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    cursor: pointer;
  }

  &.disnone {
    display: none;
  }

  &-title {
    font-size: 30px;
    line-height: calc(37 / 30);
    font-weight: 800;
    text-align: center;
    color: rgba(0, 226, 69, 1);
    text-transform: uppercase;
    margin: 0 auto 25px;
    max-width: calc(100% - 60px);
  }

  &-subtitle {
    max-width: 180px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    margin: -10px auto 31px;
  }

  &-note {
    max-width: 348px;
    margin: 0 auto 36px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    & a {
      color: $green-color;
    }
  }

  &-error {
    position: absolute;
    z-index: -1000;
    visibility: hidden;
    font-size: 12px;
    line-height: calc(15 / 12);
    font-weight: 400;
    text-align: center;
    color: #ff7c7c;
    margin-bottom: 13px;

    &.active {
      visibility: visible;
    }
  }
}

.js-popup-show {
  z-index: 9999;
  opacity: 1;
  pointer-events: visible;
}

.agree-item-checkbox {
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #37e050;
  filter: drop-shadow(0px 0px 4px #37e050);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.register-btn {
  margin-bottom: 17px;
}

.autorization-btn {
  font-size: 12px;
  line-height: calc(15 / 12);
  font-weight: 400;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  text-decoration: underline;
  cursor: pointer;
}

.close-popup {
  position: absolute;
  background-image: url('../../img/modal-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 33px;
  display: block;
  right: 10px;
  top: 10px;
}

.forgot-password {
  font-size: 12px;
  line-height: calc(15 / 12);
  font-weight: 400;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  margin-bottom: 13px;
  text-decoration: underline;
}

.register-text-btn {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  max-width: 202px;
  margin-top: 13px;
}

.register-text-btn a {
  font-weight: 700;
}