body {
  background-color: #414650;
  position: relative;
}

.container {
  max-width: $container;
  padding: 0;
  margin: 0 auto;

  @include response-to(huge) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  padding: 10px 0 10px;
  background-image: linear-gradient(180deg, #00E245 0%, rgba(0, 226, 69, 0.3) 100%);
  background-color: transparent;
  box-shadow: 0px 0px 20px #37E050;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: Body-Grotesque;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  color: #fff;
  display: block;
  font-size: 20px;
  @include transition-ease;

  @include on-event {
    background-color: #00e245;
  }
}

.page-caption {
  font-family: Body-Grotesque;
  font-weight: 800;
  text-align: center;
  color: #fff;
  font-size: 50px;

  @include response-to(small) {
    font-size: 40px;
  }
}

