.account {
  color: #fff;
  padding-top: 96px;
  position: relative;
  background-image: url('../../img/acc-shine-right-top-.png'),
                    url("../../img/acc-shine-right-bottom.png"),
                    url("../../img/acc-shine-left.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right top, right bottom, left top;

  &-wrap {
    position: relative;

  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 62px;

    @include response-to(small) {
      flex-wrap: wrap;
      position: relative;
      padding-left: 15px;
    }
  }

  &__add-card {
    margin-top: 35px;
    position: relative;
    z-index: 10;
    padding: 10px 10px 10px 20px;
    border: 1px solid #37E050;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 4px #37E050);
    width: fit-content;

    @include response-to(small) {
      margin: 42px auto 0;
    }

    &-wrap {
      width: 30%;

      @include response-to(small) {
        order: 1;
        width: 100%;
      }

      &.exist-card {

        & .account__add-card_link {
          position: static;
          display: block;
          transform: unset;
          text-align: center;
          width: unset;
          height: unset;
          box-shadow: unset;
          background-color: unset;
          font-size: 12px;
          text-decoration: underline;
          color: #fff;
          opacity: .7;
          margin-top: 2px;
          margin-bottom: 3px;

          @include on-event {
            text-decoration: none;
          }

          &:before,
          &:after {
            content: none;
          }
        }

        & .account__add-card {
          padding-right: 10px;
          padding-left: 25px;

          &:before {
            transform: translateY(-50%) translateX(0);
            top: 50%;
            right: unset;
            left: -36px;
          }
        }
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 55px;
      height: 39px;
      background-image: url('../../img/card-1.png');
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 10;
      top: -16px;
      right: -8px;
    }

    &_text {
      letter-spacing: -0.02em;
      font-size: 14px;
      line-height: 18px;

      &-wrap {
        display: flex;
        align-items: center;

        & .ask {
          display: inline-block;
          width: 17px;
          height: 17px;
          background-color: transparent;
          background-image: url('../../img/denied-answer.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: initial;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }
    
    &_link {
      position: absolute;
      display: block;
      cursor: pointer;
      z-index: 12;
      box-shadow: 0px 0px 20px #37E050;
      background-color: $green-color;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      left: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);

      &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        z-index: 13;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 2px;
        z-index: 13;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
      }
    }
  }

  &__info {
    width: 30%;
    text-align: right;
    margin-top: 15px;

    @include response-to(small) {
      position: absolute;
      margin-top: 0;
      text-align: center;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 30%;
    }

    &_fio {
      margin-bottom: 15px;
      letter-spacing: -0.02em;
      font-size: 16px;
      font-weight: 600;
    }

    &_text {
      font-size: 12px;
      margin-bottom: 4px;
      position: relative;
      width: fit-content;
      margin-left: auto;

      @include response-to(small) {
        margin-right: auto;
      }

      &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 12px;
        height: 12px;
      }

      &.email {

        &:before {
          background-image: url('../../img/email-icon.png');
          left: -21px;
        }
      }

      &.phone {

        &:before {
          background-image: url('../../img/phone-icon.png');
          left: -17px;
        }
      }
    }
  }

  &__caption {
    margin-left: -62px;

    @include response-to(small) {
      order: 0;
      width: 100%;
      margin-left: 0;
    }

    &_logout {
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      text-decoration-line: underline;
      display: block;
      margin: 0 auto;
      color: #fff;
      opacity: .7;
      cursor: pointer;

      @include response-to(small) {
        margin-top: 160px;
      }
    }
  }

  &__main {
    background-image: url('../../img/main-prizes-bg.png');
    background-position: center;
    background-repeat: no-repeat;

    & .container {
      max-width: 970px;
      display: flex;
      justify-content: space-between;
      margin-top: 18px;

      @include response-to(medium) {
        flex-wrap: wrap;
      }
    }

    &_round {
      border-radius: 20px;
      border: 1px solid #37E050;
      box-shadow: 0px 0px 4px #37E050;
      width: 450px;
      height: 518px;
      position: relative;
      @include flex-center();

      @include response-to(medium) {
        max-width: 500px;
        margin: 0 auto 40px;
        width: 100%;
      }

      @include response-to(small) {
        padding-left: 13px;
        padding-right: 13px;
      }

      & .prizes-shine {
        position: absolute;
        z-index: -1;
        max-width: 100%;
        max-height: 100%;
        display: block;

        @include response-to(small) {
          top: -12%;
        }
      }

      &-content {
        width: 100%;
      }

      &-caption {
        position: absolute;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        font-family: Body-Grotesque;
        left: 50%;
        transform: translateX(-50%);
        top: 22px;
      }

      &-text {
        text-align: center;
        letter-spacing: -0.02em;
        font-size: 16px;
        line-height: 26px;
        font-weight: bold;
      }

      &-btn {
        width: 237px;
        margin-top: 13px;
        margin-left: auto;
        margin-right: auto;
      }

      &-slider {

        & .slick-arrow {
          width: 35px;
          height: 32px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 100;

          &.slick-next {
            background-image: url('../../img/acc-slider-rt.png');
            right: 27px;

            @include response-to(small) {
              right: 10px;
            }
          }

          &.slick-prev {
            background-image: url('../../img/acc-slider-lt.png');
            left: 27px;

            @include response-to(small) {
              left: 10px;
            }
          }

          &:before {
            content: none;
          }
        }
      }

      &-slide {
        text-align: center;
        padding-bottom: 25px;

        &--img {
          max-width: 310px;
          height: 245px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin: 100px auto 20px;

          @include response-to(small) {
            max-width: 230px;
            height: 216px;
            margin-top: 55px;
          }

          & img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
          }
        }

        &--title {
          font-family: Body-Grotesque;
          font-style: normal;
          font-weight: 800;
          font-size: 32px;
          line-height: 26px;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          margin-bottom: 4px;
        }

        &--note {
          font-weight: 700;
          font-size: 16px;
          letter-spacing: -0.02em;
          margin-bottom: 17px;

          & span {
            color: $green-color;
            font-weight: 600;
          }

          & a {
            font-weight: 300;

            @include on-event {
              text-decoration: underline;
            }
          }
        }

        &--date {
          font-size: 12px;
          opacity: .7;
          margin-bottom: 7px;
        }

        &--btn {
          width: 127px;
          margin: 0 auto;
        }
      }

      &-table {
        max-width: 370px;
        margin: 35px auto;
        position: relative;

        & .tooltip {
          position: absolute;
          width: 360px;
          padding: 30px 0;
          text-align: center;
          background: #414650;
          box-shadow: 0px 0px 20px #00E245;
          border-radius: 30px;
          bottom: 6px;
          right: -98%;
        }

        &--body {
          margin-top: 10px;
          max-height: 285px;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 10px;
            padding: 2px;
          }

          &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 20px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $green-color;
            border-radius: 20px;
            border: 2px solid #fff;
          }
        }

        &--row {
          display: flex;
          width: 100%;
          align-items: center;
          margin-bottom: 16px;

          & .photo {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            overflow: hidden;
            @include flex-center();
          }

          & .date {
            width: 65px;
            margin: 0 16%;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            @include response-to(small) {
              margin: 0 12%;
            }
          }

          & .status {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
          }

          &.denied {

            .photo {
              position: relative;

              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 23px;
                height: 23px;
                background-image: url('../../img/denied-photo.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            .status {
              position: relative;
              color: #F46E65;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;

              &:before {
                content: '';
                position: absolute;
                width: 17px;
                height: 17px;
                top: 50%;
                right: -22px;
                transform: translateY(-50%);
                background-image: url('../../img/denied-answer.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    background-image: none;

    @include response-to(small) {
      margin-top: -70px;
    }
  }

  &-bg-triangle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}