.feedback {
  padding-top: 96px;
  position: relative;
  background-image: url('../../img/acc-shine-right-top-.png'),
  url("../../img/acc-shine-right-bottom.png"),
  url("../../img/acc-shine-left.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right top, right bottom, left top;

  @include response-to(small) {
    background-image: url('../../img/top-right-shine-mob.png');
    background-repeat: no-repeat;
  }

  & .triangle {
    position: absolute;
    background-image: url('../../img/feedback-triangle.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 231px;
    height: 223px;
    top: -50px;
    left: -33px;
    z-index: -1;

    @include response-to(small) {
      top: -23px;
    }
  }

  &__wrap {
    max-width: 1113px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 42px;


    @include response-to(small) {
      flex-wrap: wrap;
    }
  }

  &__form {
    max-width: 506px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @media(max-width: 1060px) {
      max-width: 400px;
    }

    @include response-to(medium) {
      max-width: 290px;
    }

    @include response-to(small) {
      max-width: unset;
      width: 100%;
    }

    & .popup-form-field .select {
      max-width: unset;
    }

    & .select2-container--default .select2-selection--single .select2-selection__placeholder {
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      color: #fff;
      letter-spacing: -0.02em;
    }

    & .btn {
      border: none;
      width: 135px;
    }

    & span.error {
      display: none!important;
    }

    & .popup-form-field .select .select2-selection--single {
      background-color: transparent;
      text-align: left;
      padding-left: 18px;
    }
    
    & .select2-results__option--selectable {
      color: #fff;
    }

    &_input {
      padding: 22px;
      border: 1px solid #37E050;
      border-radius: 40px;
      display: block;
      width: 100%;
      background-color: transparent;
      color: #fff;
      font-size: 16px;

      @include response-to(medium) {
        padding: 13px 22px;
      }

      &.error {
        border-color: red;
      }

      &::placeholder {
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        letter-spacing: -0.02em;
      }
    }

    &_field {
      margin-bottom: 21px;
      width: 100%;

      &:first-of-type {
        width: 205px;

        @media(max-width: 1060px) {
          width: 100%;
        }
      }

      &:nth-of-type(2) {
        width: 279px;

        @media(max-width: 1060px) {
          width: 100%;
        }
      }
    }

    & textarea {
      resize: none;
      height: 110px;

      @include response-to(small) {
        border-radius: 20px;
      }
    }
  }

  &__caption {
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
    color: $green-color;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    font-family: Body-Grotesque;
  }

  &__subcaption {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 47px;
    margin-top: 5px;
    color: #FFF;
  }

  &__faq {
    width: 512px;
    position: relative;
    margin-left: 20px;

    @include response-to(small) {
      width: 100%;
      margin-top: 55px;
      margin-left: 0;
    }

    &_wrap {
      margin-top: 23px;
    }

    &_item {
      color: #fff;
      padding-left: 30px;
      position: relative;
      margin-bottom: 20px;

      &.active {

        & .feedback__faq_ask {
          margin-bottom: 20px;

          &:after {
            transform: rotate(180deg);
          }
        }

        & .feedback__faq_answer {
          max-height: 1000px;
          height: auto;
          opacity: 1;
        }

        & .item,
        & .dot-item {
          max-height: 1000px;
        }
      }
    }

    &_ask {
      font-weight: 900;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 0;
      @include transition-ease;
      position: relative;

      @include response-to(small) {
        font-size: 14px;
      }

      &:before {
        position: absolute;
        content: '';
        left: -30px;
        top: 0;
        width: 21px;
        height: 21px;
        display: block;
        border-radius: 50%;
        background: linear-gradient(203.83deg, #00E245 6.9%, rgba(0, 226, 69, 0.05) 85.64%);
      }

      &:after {
        position: absolute;
        content: '';
        background-image: url('../../img/select-arrow.svg');
        width: 10px;
        height: 6px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 8px;
        left: -24px;
        z-index: 2;
        @include transition-ease;
      }
    }

    &_answer {
      font-weight: 500;
      max-height: 1px;
      line-height: 120%;
      opacity: 0;
      @include transition-ease;

      @include response-to(small) {
        font-size: 14px;
      }


      & .bold {
        font-weight: 600;
      }

      & a {
        color: $green-color;
        font-style: italic;
        text-decoration: underline;
        font-weight: 300;
      }

      & .item,
      & .dot-item {
        text-indent: 20px;
        display: block;
        margin-bottom: 5px;
        max-height: 1px;
      }
    }
  }
}