.main-banner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 95px;
  height: 100%;
  display: flex;
  align-items: flex-end;

  @include response-to(small) {
    flex-direction: column;
    background-image: none;
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.main-banner-blur {
  position: absolute;
  left: 0;
  bottom: -208px;
  width: 100%;
  z-index: 3;
  height: 700px;
  background-image: linear-gradient(0deg, #414650 32%, rgba(65, 70, 80, .3) 85.21%);
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 45%);

  @include response-to(small) {
    bottom: unset;
    top: 500px;
    height: 340px;
  }

  @media(max-width: 450px) {
    height: 320px;
    top: 445px;
    clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0 35%);
  }
}

.main-banner-bg-img {
  width: 639px;
  position: absolute;
  left: 70px;
  top: 0;
  z-index: 1;

  @include response-to(small) {
    position: relative;
    left: unset;
    top: unset;
    max-width: 390px;
    margin: -10px auto 0;
    width: 100%;
  }

  & svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &.triangle {
      top: -155px;

      @include response-to(small) {
        top: -105px;
      }
    }
  }
}

.main-banner-bg-img img {
  width: 100%;
}

.main-banner-bg-img-2 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 237px;
  z-index: 2;
  height: 691px;

  @include response-to(small) {
    display: none;
  }
}

.main-banner-bg-img-2 img {
  width: 100%;
  height: 100%;
}

.main-banner-inner {
  position: relative;
  width: 100%;

  @include response-to(small) {
    order: 4;
  }
}

.main-banner-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 4;
  right: 135px;
  top: 76px;

  @media(max-width: 1120px) {
    right: 0;
  }

  @include response-to(small) {
    position: static;
    margin: 0 auto;
  }
}

.main-banner-word-1 {
  width: 432px;
  margin-left: 67px;

  @include response-to(small) {
    width: 90%;
    margin: 0 auto;
    max-width: 360px;
  }
}

.main-banner-top-words-mob {
  display: none;

  @include response-to(small) {
    display: block;
    max-width: 100%;
  }
}

.main-banner-word-2 {
  width: 360px;
  max-width: 360px;
  margin-top: -50px;

  @include response-to(small) {
    width: 100%;
    margin-top: -34px;
    text-align: right;

    & img {
      width: 80% !important;
      display: block;
      margin-left: auto;
    }
  }
}

.main-banner-word-1 img,
.main-banner-word-2 img {
  width: 100%;
}

.main-banner-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 84px auto 0;
  position: relative;
  z-index: 4;

  @include response-to(small) {
    flex-wrap: wrap;
    margin-top: 50px;

    &:before {
      box-shadow: 0px 0px 4px #E5E5E5;
      content: '';
      position: absolute;
      background-color: $green-color;
      height: 1px;
      width: 100vw;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
    }
  }
}

.main-banner-bottom-item {
  display: flex;

  @include response-to(medium) {
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
  }

  @include response-to(small) {
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 26px;
  }

  &-help {

    @include response-to(small) {
      width: 150px;
    }
  }
}

.main-banner-bottom-item-img {
  height: max-content;
  margin-right: 30px;

  @include response-to(medium) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.main-banner-bottom-item:nth-child(1) .main-banner-bottom-item-img {
  width: 193px;
  height: auto;

  @media(max-width: 1120px) {
    width: 150px;
    margin-right: 17px;
  }

  @include response-to(small) {
    width: 110px;
  }
}

.main-banner-bottom-item:nth-child(2) .main-banner-bottom-item-img {
  width: 147px;
  height: auto;

  @media(max-width: 1120px) {
    width: 117px;
  }

  @include response-to(small) {
    width: 91px;
  }
}

.main-banner-bottom-item:nth-child(3) .main-banner-bottom-item-img {
  width: 180px;
  height: auto;

  @media(max-width: 1120px) {
    width: 140px;
  }

  @include response-to(small) {
    display: none;
  }
}

.main-banner-bottom-item:nth-child(3) .main-banner-bottom-item-img.mob {
  display: none;

  @include response-to(small) {
    display: block;
  }
}

.main-banner-bottom-item-green {
  font-size: 30px;
  font-family: Body-Grotesque;
  font-weight: 800;
  line-height: calc(37 / 30);
  color: #00e245;
  position: relative;
}

.main-banner-bottom-item-green:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #00e245;
  position: absolute;
  left: -19px;
  top: calc(50% - (9px / 2));
}

.main-banner-bottom-item:last-of-type {

  & .main-banner-bottom-item-text {

    @include response-to(small) {
      margin-left: 15px;
    }
  }
}

.main-banner-bottom-item-text {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 500;
  color: #fff;
}

.main-banner-bottom-item-text span {
  color: #00e245;
}

.main-banner-bottom-item-text-li {
  position: relative;
}

.main-banner-bottom-item-text-li:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 8px;
}

.main-banner-bottom-item-text-li.green:before {
  background-color: #00e245;
}

.main-banner-bottom-item-text-li.green {
  color: #00e245;
}

.main-banner-btn-container {
  position: absolute;
  z-index: 10;
  bottom: 27px;
  width: 98.2vw;
  left: 50%;
  transform: translateX(-50%);

  &.page {
    @include response-to(small) {
      position: static;
      transform: unset;
      width: 100%;
      margin-top: -160px;
    }
  }
}

.main-banner-top-words {

  @include response-to(small) {
    display: none;
  }
}

.main-banner-btn {
  font-family: Body-Grotesque;
  text-transform: uppercase;
  width: 276px;
  margin: 0 auto;
  font-size: 24px;
  line-height: calc(30 / 24);
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 10px 0 5px;
  text-align: center;
  border-radius: 20px;
  background-color: #00e245;
  box-shadow: 0 0 20px #37e050;
  cursor: pointer;
}

.main-banner-btn-line {
  width: calc(50% - (315px / 2) - 20px);
  height: 1px;
  background-color: #13db48;
  box-shadow: 0 0 4px #e5e5e5;
}

.main-prizes {
  margin-bottom: -16px;
  position: relative;
  z-index: 4;

  @include response-to(small) {
    margin-bottom: 5px;
  }
}

.main-prizes-title {
  font-family: Body-Grotesque;
  font-size: 50px;
  line-height: calc(61 / 50);
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 28px;

  @include response-to(small) {
    margin-bottom: 27px;
    margin-top: 0;
  }
}

.main-prizes-items {
  max-width: 1067px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include response-to(small) {
    flex-wrap: wrap;
  }
}


.main-prizes-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include response-to(small) {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.main-prizes-item-title {
  font-family: Body-Grotesque;
  font-size: 30px;
  line-height: calc(37 / 30);
  font-weight: 800;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: #00e245;
  margin-bottom: 15px;

  & span {
    font-family: Body-Grotesque;

    @include response-to(small) {
      display: none;
    }
  }
}

.main-prizes-item-img {
  margin-bottom: 5px;
  height: 206px;
  position: relative;
  @include flex-center();

  & svg {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 191px;
    margin: 0 auto;
    display: block;
    z-index: -1;
  }
}

.main-prizes-item-img img {

  @include response-to(medium) {
    max-width: 100% !important;
  }
}

.main-prizes-item:nth-child(1) .main-prizes-item-img img {
  max-width: 183px;
}

.main-prizes-item:nth-child(2) .main-prizes-item-img img {
  max-width: 179px;
}

.main-prizes-item:nth-child(3) .main-prizes-item-img img {
  max-width: 340px;
}

.main-prizes-item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #fff;
  font-weight: 600;
}

.main-prizes-item-text span {
  color: #37e050;
  font-weight: 700;
}

.main-prizes {
  position: relative;
}
.main-banner-btn_wrap {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: calc((98% - 276px) / 2);
    transform: translateY(-50%);
    box-shadow: 0 0 4px #E5E5E5;
    height: 1px;
    background-color: $green-color;
    top: 50%;
    right: 0;

    @include response-to(medium) {
      width: calc((95% - 276px) / 2);
    }

    @include response-to(small) {
      right: -15px;
      width: calc((100% - 276px) / 2);
    }
  }

  &:after {
    position: absolute;
    content: '';
    width: calc((98% - 276px) / 2);
    transform: translateY(-50%);
    box-shadow: 0 0 4px #E5E5E5;
    height: 1px;
    background-color: $green-color;
    top: 50%;
    left: 0;

    @include response-to(medium) {
      width: calc((95% - 276px) / 2);
    }

    @include response-to(small) {
      left: -15px;
      width: calc((100% - 276px) / 2);
    }
  }
}

.main-prizes-bg {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.first-section {
  position: relative;
  background-image: url('../../img/top-right-shine.png');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top right;
  height: 750px;

  @include response-to(small) {
    height: unset;
    background-image: url('../../img/top-right-shine-mob.png');
  }
}

@media (max-width: 1440px) {
  .main-banner-btn {
    border-radius: 20px;
  }
}
