.main-banner {
  position: relative;
  padding-top: 60px;
  padding-bottom: 95px;
  background-image: url('../../img/home-page-center-shine.png');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: left bottom;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.main-banner-blur {
  position: absolute;
  left: 0;
  bottom: -208px;
  width: 100%;
  z-index: 3;
}

.main-banner-blur img {
  width: 100%;
}

.main-banner-bg-img {
  width: 639px;
  position: absolute;
  left: 70px;
  top: 0;
  z-index: 1;
}

.main-banner-bg-img img {
  width: 100%;
}

.main-banner-bg-img-2 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 237px;
  z-index: 2;
  height: 691px;
}

.main-banner-bg-img-2 img {
  width: 100%;
  height: 100%;
}

.main-banner-inner {
  position: relative;
  width: 100%;
}

.main-banner-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  z-index: 4;
  right: 135px;
  top: 76px;
}

.main-banner-word-1 {
  width: 432px;
  margin-left: 67px;
}

.main-banner-word-2 {
  width: 360px;
  margin-top: -50px;
}

.main-banner-word-1 img,
.main-banner-word-2 img {
  width: 100%;
}

.main-banner-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 84px auto 0;
  position: relative;
  z-index: 4;
}

.main-banner-bottom-item {
  display: flex;
}

.main-banner-bottom-item-img {
  height: max-content;
  margin-right: 30px;
}

.main-banner-bottom-item:nth-child(1) .main-banner-bottom-item-img {
  width: 193px;
  height: 151px;
}

.main-banner-bottom-item:nth-child(2) .main-banner-bottom-item-img {
  width: 147px;
  height: 147px;
}

.main-banner-bottom-item:nth-child(3) .main-banner-bottom-item-img {
  width: 180px;
}

.main-banner-bottom-item-green {
  font-size: 30px;
  font-family: Body-Grotesque;
  font-weight: 800;
  line-height: calc(37 / 30);
  color: #00e245;
  position: relative;
  text-transform: uppercase;
}

.main-banner-bottom-item-green:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #00e245;
  position: absolute;
  left: -19px;
  top: calc(50% - (9px / 2));
}

.main-banner-bottom-item-text {
  font-size: 16px;
  line-height: calc(20 / 16);
  font-weight: 500;
  color: #fff;
}

.main-banner-bottom-item-text span {
  color: #00e245;
}

.main-banner-bottom-item-text-li {
  position: relative;
}

.main-banner-bottom-item-text-li:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: 8px;
}

.main-banner-bottom-item-text-li.green:before {
  background-color: #00e245;
}

.main-banner-bottom-item-text-li.green {
  color: #00e245;
}

.main-banner-btn-container {
  position: absolute;
  z-index: 3;
  bottom: 27px;
  width: 98.2vw;
  left: 50%;
  transform: translateX(-50%);
}

.main-banner-btn {
  font-family: Body-Grotesque;
  text-transform: uppercase;
  width: 276px;
  margin: 0 auto;
  font-size: 24px;
  line-height: calc(30 / 24);
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  padding: 10px 0 5px;
  text-align: center;
  border-radius: 20px;
  background-color: #00e245;
  box-shadow: 0 0 20px #37e050;
  cursor: pointer;
}

.main-banner-btn-line {
  width: calc(50% - (315px / 2) - 20px);
  height: 1px;
  background-color: #13db48;
  box-shadow: 0 0 4px #e5e5e5;
}

.main-prizes {
  margin-bottom: -16px;
  position: relative;
  z-index: 4;
}

.main-prizes-title {
  font-size: 50px;
  line-height: calc(61 / 50);
  font-weight: 800;
  color: #fff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.main-prizes-items {
  max-width: 1067px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.main-prizes-item {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-prizes-item-title {
  font-family: Body-Grotesque;
  font-size: 30px;
  line-height: calc(37 / 30);
  font-weight: 800;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: #00e245;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-prizes-item-img {
  margin-bottom: 5px;
  height: 206px;
}

.main-prizes-item:nth-child(1) .main-prizes-item-img img {
  max-width: 183px;
}

.main-prizes-item:nth-child(2) .main-prizes-item-img img {
  max-width: 179px;
}

.main-prizes-item:nth-child(3) .main-prizes-item-img img {
  max-width: 340px;
}

.main-prizes-item-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #fff;
  font-weight: 500;
}

.main-prizes-item-text span {
  color: #37e050;
  font-weight: 700;
}

.main-prizes {
  position: relative;
}
.main-banner-btn_wrap {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: calc((98% - 276px) / 2);
    transform: translateY(-50%);
    box-shadow: 0 0 4px #E5E5E5;
    height: 1px;
    background-color: $green-color;
    top: 50%;
    right: 0;
  }

  &:after {
    position: absolute;
    content: '';
    width: calc((98% - 276px) / 2);
    transform: translateY(-50%);
    box-shadow: 0 0 4px #E5E5E5;
    height: 1px;
    background-color: $green-color;
    top: 50%;
    left: 0;
  }
}

.main-prizes-bg {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.first-section {
  position: relative;
  background-image: url('../../img/top-right-shine.png');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: top right;
  height: 750px;
}

@media (max-width: 1440px) {
  .main-banner-bg-img {
    width: 44.375vw;
    left: 9.861vw;
  }
  .main-banner-bg-img-2 {
    top: 16.458vw;
    height: 47.986vw;
  }
  .main-banner-top {
    padding-right: 17.777vw;
    padding-top: 5.555vw;
  }
  .main-banner-word-1 {
    width: 30vw;
    margin-left: 4.652vw;
  }
  .main-banner-word-2 {
    width: 25vw;
    margin-top: -3.472vw;
  }
  .main-banner-bottom {
    width: calc(100% - 12.777vw);
    margin-top: 5.833vw;
  }
  .main-banner-bottom-item-img {
    margin-right: 2.083vw;
  }
  .main-banner-bottom-item:nth-child(1) .main-banner-bottom-item-img {
    width: 13.402vw;
    height: 10.486vw;
  }
  .main-banner-bottom-item:nth-child(2) .main-banner-bottom-item-img {
    width: 10.208vw;
    height: 10.208vw;
  }
  .main-banner-bottom-item:nth-child(3) .main-banner-bottom-item-img {
    width: 12.5vw;
  }
  .main-banner-bottom-item-green {
    font-size: 2.083vw;
  }
  .main-banner-bottom-item-green:before {
    width: 0.625vw;
    height: 0.625vw;
    left: -1.319vw;
    top: calc(50% - (0.625vw / 2));
  }
  .main-banner-bottom-item-text {
    font-size: 1.111vw;
  }
  .main-banner-bottom-item-text-li:before {
    width: 0.347vw;
    height: 0.347vw;
    left: -1.041vw;
    top: 0.555vw;
  }
  .main-banner-btn-container {
    margin-top: 4.166vw;
  }
  .main-banner-btn {
    font-size: 1.666vw;
    padding: 0.694vw 1.388vw;
    border-radius: 1.388vw;
  }
  .main-banner-btn-line {
    width: calc(50% - (21.875vw / 2) - 1.388vw);
  }
  .main-prizes-title {
    font-size: 3.472vw;
    margin-top: 3.611vw;
    margin-bottom: 1.944vw;
  }
  .main-prizes-items {
    padding-bottom: 24.305vw;
  }
  .main-prizes-item:nth-child(2) {
    margin: 0 6.944vw;
  }
  .main-prizes-item-title {
    font-size: 2.083vw;
    margin-bottom: 1.041vw;
  }
  .main-prizes-item-img {
    margin-bottom: 0.347vw;
    height: 14.305vw;
  }
  .main-prizes-item:nth-child(1) .main-prizes-item-img img {
    max-width: 12.708vw;
  }
  .main-prizes-item:nth-child(2) .main-prizes-item-img img {
    max-width: 12.43vw;
  }
  .main-prizes-item:nth-child(3) .main-prizes-item-img img {
    max-width: 23.611vw;
  }
  .main-prizes-item-text {
    font-size: 1.111vw;
  }
  .main-prizes-bg {
    bottom: 2.777vw;
  }
}

@media (max-width: 768px) {
  .header,
  .footer,
  .main-prizes,
  .main-banner-btn-container {
    display: none;
  }
  .main-banner-abs-imgs {
    position: relative;
  }
  .main-banner-bg-img {
    position: static;
    width: 100%;
  }
  .main-banner-word-1 {
    width: 304px;
  }
  .main-banner-word-2 {
    width: 285px;
  }
  .main-banner-top {
    padding-right: 0;
    border-top: 0;
  }
  .main-banner-word-1 img {
    display: none;
  }
  .main-banner-word-1 img.mob {
    display: block;
  }
}
