.privacy {
  padding-top: 96px;
  position: relative;
  background-image: url('../../img/acc-shine-right-top-.png'),
  url("../../img/acc-shine-right-bottom.png"),
  url("../../img/acc-shine-left.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right top, right bottom, left top;

  @include response-to(small) {
    background-image: url('../../img/top-right-shine-mob.png');
    background-repeat: no-repeat;
  }

  & .page-caption {
    text-transform: uppercase;
  }

  &__wrap {
    max-width: 1142px;
    margin: 40px auto 0;
    color: #fff;
  }
}