.product {
  padding-top: 96px;
  position: relative;
  background-image: url('../../img/acc-shine-right-top-.png'),
  url("../../img/acc-shine-left.png");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right top, left top;

  @include response-to(small) {
    background-image: url('../../img/top-right-shine-mob.png');
    background-repeat: no-repeat;
  }

  &__slider {
    width: 100%;
    max-width: 1280px;
    margin: 66px auto 50px;
    padding: 0 60px;
    opacity: 1;
    position: relative;
    z-index: 1;
    max-height: 1000px;
    @include transition-ease;

    &.hide {
      z-index: -1000;
      opacity: 0;
      max-height: 1px;
    }

    @include response-to(small) {
      padding: 0 15px;
    }

    & .slick-arrow {
      background: linear-gradient(203.83deg, #00E245 6.9%, rgba(0, 226, 69, 0.05) 85.64%);
      width: 59px;
      height: 59px;
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;

      @include response-to(small) {
        width: 39px;
        height: 39px;
        top: 35%;
      }

      & span {
        width: 100%;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
      }

      &.slick-next {
        right: 0;

        & span {
          background-image: url('../../img/acc-slider-rt.svg');
          background-position: center;

          @include response-to(small) {
            display: block;
            margin: 0 auto;
            background-position: -1px center;
            background-size: contain;
            width: 10px;
          }
        }
      }

      &.slick-prev {
        left: 0;

        & span {
          background-image: url('../../img/acc-slider-lt.svg');
          background-position: 16px center;

          @include response-to(small) {
            display: block;
            margin: 0 auto;
            background-position: -1px center;
            background-size: contain;
            width: 10px;
          }
        }
      }

      &:before {
        content: none;
      }
    }
  }

  &__slide {
    text-align: center;
    margin: 0 auto;

    &_img {
      width: 260px;
      margin: 0 auto;
      max-width: 90%;

      @include response-to(small) {
        width: 232px;
      }

      & img {
        max-width: 100%;
        margin: 0 auto;
      }
    }

    &_title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-style: italic;
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;
      color: #fff;

      @include response-to(medium) {

        & br {
          display: none;
        }
      }
    }

    &_weight {
      font-size: 16px;
      color: $green-color;
    }
  }

  & .footer {

    @include response-to(small) {
      margin-top: -100px;
    }
  }
}