.footer {
  padding-top: 55px;
  background-image: url('../../img/main-prizes-bg.png');
  position: relative;
  background-repeat: repeat-x;
  overflow-x: hidden;

  @include response-to(small) {
    padding-top: 100px;
  }

  &-bg {
    position: absolute;
    width: 1550px;
    top: -20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../../img/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;

    @include response-to(small) {
      background-image: url('../../img/mob-footer-bg.svg');
      max-width: 100%;
      background-position: top center;
      top: 80px;
    }
  }

  &-inner {
    padding: 26px 0 15px;
    max-width: 1178px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include response-to(small) {
      align-items: flex-start;
    }
  }

  &-img {
    width: 141px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: auto;

    @include response-to(small) {
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      width: 100%;
    }
  }

  &-text {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: #a5a9b0;
    text-align: center;
    max-width: 1050px;
    margin-bottom: 10px;
  }

  &-nav-item a {
    font-family: "AvantGarde", sans-serif;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: #00e245;
    text-decoration: underline;
  }

  &-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: -1;

    @include response-to(medium) {
      justify-content: space-between;
    }

    @include response-to(small) {
      flex-direction: column;
    }

    &-text {
      font-family: "AvantGarde", sans-serif;
      font-size: 12px;
      line-height: calc(15 / 12);
      color: #a5a9b0;
      text-align: center;
    }
  }

  &-content {
    text-align: center;

    @include response-to(medium) {
      flex-basis: 46%;
    }

    @include response-to(small) {
      order: 3;
      flex-basis: 100%;
      margin-top: 22px;
    }
  }

  &-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @include response-to(small) {
      margin-bottom: -100px;
    }

    &-item {

      @include response-to(small) {
        margin-bottom: 16px;
      }
    }

    &-item:nth-child(2) {
      margin: 0 32px;

      @include response-to(small) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    @include response-to(small) {
      flex-direction: column;
    }
  }

  &-reqs {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;

    @include response-to(medium) {
      position: static;
      flex-basis: 25%;
    }

    @include response-to(small) {
      order: 2;
    }
  }

  &-phone {
    font-size: 21px;
    line-height: calc(27 / 21);
    color: #37e050;
    font-weight: 900;

    @include response-to(small) {
      font-size: 18px;
      font-weight: 500;
      margin-top: 3px;
    }
  }

  &-mail {
    font-size: 16px;
    line-height: calc(18 / 16);
    font-weight: 400;
    color: #37e050;

    @include response-to(small) {
      text-align: right;
      text-decoration: underline;
      font-size: 11px;
      margin-top: 5px;
    }
  }

  &-socials {
    position: absolute;
    right: 0;
    bottom: 0;

    @include response-to(medium) {
      position: static;
      flex-basis: 25%;
      text-align: right;
    }

    & a {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      & img {
        width: 29px;
      }
    }
  }

  &-logo {
    width: 148px;
    display: block;
    margin: 0 auto;
  }

  &-text,
  &-nav,
  &-bottom {
    position: relative;

    @include response-to(small) {
      &:before {
        position: absolute;
        z-index: -1;
        background-color: #fff;
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        top: -20px;
        bottom: -50px;
      }
    }
  }
}
